.switch_label {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 32px;
    height: 19px;
    background: #fff;
    border: 2px solid #daa;
    border-radius: 20px;
    transition: 0.2s;
    margin-bottom: -6px;
}
.switch_label:hover {
    background: #efefef;
}
.onf_btn {
    position: absolute;
    top: 2px;
    left: 3px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background: #daa;
    transition: 0.2s;
}
.switch{
    visibility: hidden;
}
/* checking style */
#switch1:checked+#switch_label1 {
    background: #c44;
    border: 2px solid #c44;
}

#switch1:checked+#switch_label1:hover {
    background: #e55;
}

/* move */
#switch1:checked+#switch_label1 .onf_btn {
    left: 15px;
    background: #fff;
    box-shadow: 1px 2px 3px #00000020;
}

/* checking style */
#switch2:checked+#switch_label2 {
    background: #c44;
    border: 2px solid #c44;
}

#switch2:checked+#switch_label2:hover {
    background: #e55;
}

/* move */
#switch2:checked+#switch_label2 .onf_btn {
    left: 15px;
    background: #fff;
    box-shadow: 1px 2px 3px #00000020;
}

/* checking style */
#switch3:checked+#switch_label3 {
    background: #c44;
    border: 2px solid #c44;
}

#switch3:checked+#switch_label3:hover {
    background: #e55;
}

/* move */
#switch3:checked+#switch_label3 .onf_btn {
    left: 15px;
    background: #fff;
    box-shadow: 1px 2px 3px #00000020;
}